<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      {{ item.name }}
    </mat-card-title>
    <mat-card-subtitle
      >{{ item.itemType }} - {{ item.category.name }}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="imgTagSrc" alt="{{ item.name }}" />
  <mat-card-content>
    <p>{{ item.description }}</p>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of item.tags" color="warn">{{
        tag.name
      }}</mat-chip>
    </mat-chip-list>
    <h3 style="text-align: right">
      Price: {{ item.currentItemValue.sellingPrice }},00 RSD
    </h3>
  </mat-card-content>
</mat-card>
