<h1 mat-dialog-title>
  {{ order && !order.waiterId ? "Bar order" : "Order" }} for Table
  {{ data.tableId }}
</h1>
<div mat-dialog-content style="height: calc(100% - 96px)">
  <mat-tab-group id="order-menu-tabs">
    <mat-tab label="ORDER">
      <h1 id="no-order-txt" *ngIf="noOrder">No order at the moment</h1>
      <div *ngIf="order">
        <table id="order-items-table" mat-table [dataSource]="order.orderItems">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let orderItem">{{ orderItem.id }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Item name</th>
            <td mat-cell *matCellDef="let orderItem">
              {{ orderItem.item.name }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let orderItem">{{ orderItem.amount }}</td>
            <td mat-footer-cell *matFooterCellDef>Total:</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let orderItem">
              {{ orderItem.item.price | number: "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{ total | number: "1.2-2" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let orderItem">
              {{ orderItem.orderStatus }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let orderItem">
              <button
                mat-icon-button
                *ngIf="
                  orderItem.orderStatus !== 'IN_PROGRESS' &&
                  orderItem.orderStatus !== 'READY' &&
                  !isBarman
                "
                (click)="cancelItem(orderItem.id, orderItem.itemId)"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <mat-form-field class="note-field" appearance="fill">
          <mat-label>Note</mat-label>
          <textarea
            id="note-input"
            matInput
            [(ngModel)]="order.note"
            (ngModelChange)="edited = true"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab
      label="MENU"
      [disabled]="isBarman && order && order.id && order.waiterId"
    >
      <div class="menu" *ngIf="order || noOrder">
        <app-waiter-menu
          [isBarOrder]="isBarman || (order && !order.waiterId)"
          (addEvent)="addToOrder($event)"
        ></app-waiter-menu>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions align="end">
  <button
    id="create-btn"
    mat-raised-button
    color="primary"
    *ngIf="order && !order.id && order.orderItems.length > 0"
    (click)="createOrder()"
  >
    Send order
  </button>
  <button
    id="update-btn"
    mat-raised-button
    color="primary"
    *ngIf="order && order.id && edited"
    (click)="updateOrder()"
  >
    Update order
  </button>
  <button
    id="finalize-btn"
    mat-raised-button
    color="primary"
    *ngIf="canBeFinalized"
    (click)="finalizeOrder()"
  >
    Finalize order
  </button>
  <button
    id="close-btn"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data.tableId"
  >
    Close
  </button>
</div>
