<h1 mat-dialog-title>Order for Table {{ data.tableId }}</h1>
<div mat-dialog-content style="height: calc(100% - 96px)">
  <mat-tab-group>
    <mat-tab label="ORDER">
      <h1 *ngIf="noOrder">No order at the moment</h1>
      <div *ngIf="order">
        <table mat-table [dataSource]="order.orderItems">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let orderItem">{{ orderItem.id }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Item name</th>
            <td mat-cell *matCellDef="let orderItem">
              {{ orderItem.item.name }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let orderItem">{{ orderItem.amount }}</td>
            <td mat-footer-cell *matFooterCellDef>Total:</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let orderItem">
              {{ orderItem.item.price }}
            </td>
            <td mat-footer-cell *matFooterCellDef>{{ total }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let orderItem">
              {{ orderItem.orderStatus }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let orderItem">
              <button
                mat-icon-button
                *ngIf="
                  orderItem.orderStatus !== 'IN_PROGRESS' &&
                  orderItem.orderStatus !== 'READY'
                "
                (click)="cancelItem(orderItem.id, orderItem.itemId)"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <mat-form-field class="note-field" appearance="fill">
          <mat-label>Note</mat-label>
          <textarea
            matInput
            [(ngModel)]="order.note"
            (ngModelChange)="edited = true"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="MENU">
      <h2>Dummy menu</h2>
      <div *ngFor="let item of dummyMenu">
        {{ item.id }} {{ item.name }} {{ item.price }}din
        <input
          matInput
          style="width: 30px"
          [(ngModel)]="item.a"
          type="number"
          min="0"
          max="9999"
        />
        <button
          mat-button
          (click)="
            addToOrder({
              id: item.id,
              name: item.name,
              amount: item.a,
              price: item.price
            })
          "
        >
          add
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    *ngIf="order && !order.id && order.orderItems.length > 0"
    (click)="createOrder()"
  >
    Send order
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="order && order.id && edited"
    (click)="updateOrder()"
  >
    Update order
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="canBeFinalized"
    (click)="finalizeOrder()"
  >
    Finalize order
  </button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.tableId">
    Close
  </button>
</div>
