.canvas-boundary {
  width: 600px;
  height: 600px;
  max-width: 100%;
  border: dotted #ccc 2px;
}

mat-slider {
  width: 200px;
}

mat-form-field {
  width: 100px;
  height: 20px;
}

.inline {
  float: left;
  margin-right: 10px;
}
