<mat-tab-group>
    <mat-tab label="Available Items">
        <app-items [items]=items [onDataChanged]="fetchData"></app-items>
    </mat-tab>
    <mat-tab label="New item">
        <app-create-item [onItemCreated]="fetchData"></app-create-item>
    </mat-tab>
    <mat-tab label="Tags">
        <ng-template matTabContent>
            <app-manage-tags [onTagCreated]="fetchData" [tags]="tags" ></app-manage-tags>
        </ng-template>
    </mat-tab>
    <mat-tab label="Categories">
        <ng-template matTabContent>
            <app-manage-categories></app-manage-categories>
        </ng-template>
    </mat-tab>
    <mat-tab label="Reports">
        <ng-template matTabContent>
            <app-report-board></app-report-board>
        </ng-template>
    </mat-tab>
    <mat-tab label="Staff">
        <ng-template matTabContent>
            <app-staff-board></app-staff-board>
        </ng-template>
    </mat-tab>

</mat-tab-group>